.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    width:100%;
    min-width: 100vw;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width:60%;
  }
  
  .input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  
  .button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #9b59b6; /* Purple */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:20%;
  }
  
  .button:hover {
    background-color: #8e44ad; /* Darker purple */
  }
  
  .suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .suggestion {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  